.loginPage{
    background-image: radial-gradient(white 55%, silver 34%, yellow 2%);

}
.image{
    border: 2px darkgoldenrod;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 50px;
    position: fixed;
    z-index: -1;
}
.title{
    text-align: center;
}